@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Raleway:wght@400;500;700&display=swap');*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-container{
    width: 470px;
    margin: 0px auto;
}
:root{
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    padding: 10px;

}
.nav-bar__logo{
    width: 130px;
    padding: 20px;
    margin-top: -2px;
    

}
.nav-bar__list{
    display: flex;
    list-style: none;
    justify-content: space-around;
    
    
}
.nav-bar__list__item{
    padding: 20px;
    font-size: 0.9em;
    font-weight: 500;
    
    
}
.nav-bar__list__item a{
    text-decoration: none;
    color: var(--Desaturated-Blue);
    
}
.header{
    margin-bottom: 130px;
    
}
.header__illustration{
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 40px;
    
}
.header__title{
    font-family: 'Open-sans', sans-serif;
    font-size: 2em;
    text-align: center;
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--Very-Dark-Blue);
}
.header__parraf{
    margin: 0px 70px;
    text-align: center;
    font-family: 'Open-sans', sans-serif;
    font-weight: 500;
    color: var(--Very-Dark-Blue);
    font-size: 1.1em;
    margin-top: 30px;
    line-height: 22px;
    

}
.header__form{
    display: flex;
    flex-direction: column;
    margin: 40px 60px;
}
.header__form__input{
    height: 40px;
    margin-bottom: 15px;
    padding: 15px;

    
}
.header__form__button{
    height: 40px;
    border: none;
    background-color: var(--Bright-Blue);
    color: white;
    font-weight: 500;
    font-size: 0.9em;
    box-shadow: 4px 6px 18px -2px rgba(0,0,0,0.21);
-webkit-box-shadow: 4px 6px 18px -2px rgba(0,0,0,0.21);
-moz-box-shadow: 4px 6px 18px -2px rgba(0,0,0,0.21);
    letter-spacing: 1px;
    
}
.first-section__curve{
    width: 100%;
    position: absolute;
    top: -55px;
    
    
    
    
}
.first-section{
    background-color: var(--Light-Grayish-Blue);
    position: relative;
    height: 1000px;
    
    
}
.img-container{
    margin-top: 100px;
}
.first-section__illustration{
    width: 350px;
    margin-top: 100px;
    margin-left: 50px;

    
}
.first-section__title{
    text-align: center;
    font-family: 'Open-sans', sans-serif;
    color: var(--Very-Dark-Blue);
    font-size: 1.2em;
    margin-top: 90px;
    margin-bottom: 30px;
}
.first-section__parraf{
    font-family: 'Open-sans', sans-serif;
    margin-bottom: 15px;
    color: var(--Desaturated-Blue);
    margin-left: 30px;
    margin-right: 30px;
    line-height: 21px
}
.first-section__see-how{
    font-family: 'Open-sans', sans-serif;
    color: var(--Moderate-Cyan);
    text-decoration: none;
    
    
    
}
.first-section__see-how-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 40px 0px;
   
}
.first-section__see-how--bar{
    background-color: var(--Moderate-Cyan);
    width: 165px;
    height: 1.5px;
    margin-top: 5px;
}
.first-section__see-how img{
    width: 19px;
    vertical-align: middle;   
}
.card{
    width: 350px;
    height: 200px;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    padding: 20px;
    font-family: 'Open-sans', sans-serif;
    font-size: 0.8em;
    color: var(--Very-Dark-Blue);
    line-height: 21px;
    font-weight: 500;
    letter-spacing: 0.5px;
    -webkit-box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.16);
-moz-box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.16);
box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.16);

    
}
.card__person{
    display: flex;
    margin-top: 15px;
    
}
.card__person__photo{
    width: 35px;
    border-radius: 50%;
    height: 35px;
    object-fit: cover;
    
}
.card__person__name-container{
    margin-left: 10px;
}
.card__person__name-container__name{
    font-weight: 600;
    letter-spacing: 0.5px;

    

}
.card__person__name-container__position{
    font-size: 0.8em;
    margin-top: -2px;
}
.second-section{
    background-color: var(--Desaturated-Blue);
    color: white;
    font-family: 'Raleway', sans-serif;
    
}
.second-section__title{
    text-align: center;
    padding: 50px 20px 20px 20px;

    
}
.second-section__parraf{
    text-align: center;
    margin: 0px 50px;
    line-height: 23px;


}
.second-section__form{
    display: flex;
    flex-direction: column;
    width: 290px;
    margin: 30px auto;
    padding-bottom: 100px;

}
.second-section__form__input{
    height: 40px;
    margin-bottom: 10px;
    padding: 15px;
}
.second-section__form__button{
    height: 40px;
    border: none;
    background-color: var(--Bright-Blue);
    color: white;
    font-weight: 500;
    font-size: 0.9em;
    

    letter-spacing: 0.5px;
}